.icon {
  width: 32px;
  height: 32px;
  border: none;
  transition: transform 250ms ease-in-out;
}
.icon-button {
  display: inline-block;
  transition: transform 250ms ease-in-out;
}
#search-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:hover .icon {
    transform: scale(1.2);
  }
  &:hover .icon-button {
    transform: scale(1.2);
  }
}
