.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  gap: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 209, 194);
}

.photo-card {
  margin: 0 5px;
}
.info {
  text-align: center;
}
