.load-more {
  height: 25px;
  display: flex;
  justify-content: center;
  width: 200px; /* szerokość przycisku */
}

.hidden {
  display: none;
  justify-content: center;
}
.visible {
  display: flex;
}
