.load-more {
  display: none; /* początkowo ukryty */
  margin: 30px auto 0; /* margines 30px i wyśrodkowany */
  width: 200px; /* szerokość przycisku */
}

.hidden {
  display: none;
}
.visible {
  display: flex;
}
