.load-more {
  height: 25px;
  display: none;
  justify-content: center;
  width: 200px; /* szerokość przycisku */
}

.hidden {
  display: none;
  justify-content: center;
}
.visible {
  display: none;
  justify-content: center;
  background-color: rgb(221, 209, 194);
}
