.window-searcher {
  display: flex;
  padding: 16px;
  max-width: 100%;
  background-color: rgb(79, 68, 236);
  justify-content: center;
  outline: none;
}
.input {
  height: 35px;
  text-align: center;
  border: none;
  outline: none;
}
