<header>
  <h1>Search images</h1>
  <form class="window-searcher" id="search-form">
    <input
      class="input"
      type="text"
      name="query"
      id="search-input"
      placeholder="Search images"
    />
    <button id="search-button" type="submit">
      <i class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="45"
          height="45"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </i>
    </button>
    <button type="submit" id="search-button">
      <i class="fas fa-search"></i>
    </button>
  </form>
</header>
<main>
  <div id="results"></div>
</main>
